@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --bgColor: #a3c9d9;
    --borderColor: #243e73;
    --buttonColor: #5679bf;
    --color1: #84b1d9;
    --color2: #b3cff2;
    --regular-font: 'Montserrat', sans-serif;
    --bold-font: 'Montserrat', sans-serif;
}

*{
    font-family: var(--regular-font);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}
.header-userActions-createCard{
    display: none;
}


//-------------Login----------
.loginModal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
//---------CreateVisitModal-------------
.creadeVisitModal{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 200px;
    border: 2px solid black;
    background: lightblue;
    .modal-content{
        padding: 20px;
        #fieldsContainer{
            display: flex;
            flex-direction: column;
            gap: 10px;
            div{
                display: flex;
                flex-direction: column;
                input{
                    width: 75%;
                }
                select{
                    width: 30%;
                }
            }
        }
    }
}

//-------VisitCard--------
.visitCard{
    margin: 10px auto 0;
    padding: 5px;
    border: 2px solid black;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color2);
    p{
        margin: 5px;
    }
    button{
        margin: 0 10px 0 0;
    }
    span{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    &.buttonsContainer{
        display: flex;
    }
    .deleteIcon{
        width: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    // .additionalInfoContainer{
    //     background: lightblue;
    // }
}
.additionalInfoContainer {
    border: 2px solid black;
    display: none;
}
.active{
    display: block;
}
.hidden{
    display: none;
}